{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./src/components",
        "reducer": "./src/reducer",
        "context": "./src/context",
        "scripts": "./src/scripts"
      }
    }]
  ]
}