
body{
  overflow: hidden;
}

canvas{
  width: 100%;
  
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 700;
}

p {
  margin-bottom: 0rem;
}

a {
  color: #1169fe;
  text-decoration: none;
}

blockquote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.styleguide-wrapper {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.gc-page-padding {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.gc-container-l {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.styleguide-heading-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.styleguide-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.styleguide-category-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: #1169fe;
  color: #fff;
}

.styleguide-category-wrapper.tablet {
  background-color: #ce91ff;
}

.styleguide-subcategory-wrapper {
  margin-bottom: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  background-color: #f25f24;
  color: #fff;
}

.styleguide-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gc-heading-xl {
  font-size: 3.625rem;
  line-height: 1.2;
  font-weight: 700;
}

.class {
  display: inline;
  padding: 0.25rem 0.5rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 4px;
  background-color: #3b79c3;
  color: #fff;
  font-size: 0.75rem;
  white-space: nowrap;
}

.styleguide-section-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gc-heading-l {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.gc-heading-m {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

.gc-heading-xxl {
  font-family: Rustica, sans-serif;
  font-size: 9.3125rem;
  line-height: 8.875rem;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.gc-heading-s {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

.gc-heading-xs {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.gc-text-xl {
  font-size: 1.5rem;
}

.gc-text-l {
  font-size: 1.25rem;
}

.gc-text-m {
  font-size: 1rem;
}

.gc-text-s {
  font-size: 0.875rem;
}

.gc-text-xs {
  font-size: 0.75rem;
}

.gc-text-style-strikethrough {
  text-decoration: line-through;
}

.gc-text-style-italic {
  font-style: italic;
}

.gc-text-style-all-caps {
  text-transform: uppercase;
}

.gc-text-style-no-wrap {
  white-space: nowrap;
}

.gc-text-style-block-quote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.gc-text-weight-thin {
  font-weight: 100;
}

.gc-text-weight-extra-light {
  font-weight: 200;
}

.gc-text-weight-light {
  font-weight: 300;
}

.gc-text-weight-normal {
  font-weight: 400;
}

.gc-text-weight-medium {
  font-weight: 500;
}

.gc-text-weight-semi-bold {
  font-weight: 600;
}

.gc-text-weight-bold {
  font-weight: 700;
}

.gc-text-weight-extra-bold {
  font-weight: 800;
}

.gc-text-weight-black {
  font-weight: 900;
}

.gc-text-alignment-left {
  text-align: left;
}

.gc-text-alignment-right {
  text-align: right;
}

.gc-text-alignment-center {
  text-align: center;
}

.gc-text-alignment-justify {
  text-align: justify;
}

.gc-text-style-underline {
  text-decoration: underline;
}

.gc-full-width {
  width: 100%;
  max-width: none;
}

.gc-rich-text h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.gc-rich-text h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.gc-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.gc-rich-text p {
  margin-bottom: 0.75rem;
}

.gc-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.gc-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.gc-rich-text h5 {
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.gc-rich-text blockquote {
  margin-bottom: 0.75rem;
}

.gc-rich-text ul {
  margin-bottom: 0.75rem;
}

.styleguide-color-sample {
  margin-top: 0.5rem;
  padding: 5rem;
  border: 1px dashed #000;
  background-color: #f5f5f5;
}

.styleguide-color-sample.cc-primary {
  background-color: #1169fe;
}

.styleguide-color-sample.cc-secondary {
  background-color: #f25f24;
}

.styleguide-color-sample.cc-tertiary {
  background-color: #ce91ff;
}

.styleguide-color-sample.cc-quaternary {
  background-color: #4fe9a4;
}

.styleguide-color-sample.cc-text-1 {
  background-color: #3a3a3a;
}

.styleguide-color-sample.cc-text-2 {
  background-color: #a7a7a7;
}

.styleguide-color-sample.cc-neutral-1 {
  background-color: #e0e0e0;
}

.styleguide-color-sample.cc-neutral-2 {
  background-color: #f4f2f2;
}

.styleguide-color-sample.cc-neutral-3 {
  background-color: #999;
}

.styleguide-color-sample.cc-black {
  background-color: #000;
}

.styleguide-color-sample.cc-white {
  background-color: #fff;
}

.styleguide-content-grid-3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gc-text-color-primary {
  color: #1169fe;
}

.gc-text-color-secondary {
  color: #f25f24;
}

.gc-text-color-tertiary {
  color: #ce91ff;
}

.gc-text-color-quaternary {
  color: #4fe9a4;
}

.gc-text-color-1 {
  color: #3a3a3a;
}

.gc-text-color-2 {
  color: #a7a7a7;
}

.gc-text-color-black {
  color: #000;
}

.gc-text-color-white {
  color: #fff;
}

.gc-background-primary {
  background-color: #1169fe;
}

.gc-background-secondary {
  background-color: #f25f24;
}

.gc-background-tertiary {
  background-color: #ce91ff;
}

.gc-background-quaternary {
  background-color: #4fe9a4;
}

.gc-background-neutral-1 {
  background-color: #e0e0e0;
}

.gc-background-neutral-2 {
  background-color: #f4f2f2;
}

.gc-background-neutral-3 {
  background-color: #999;
}

.gc-background-black {
  background-color: #000;
}

.gc-background-white {
  background-color: #fff;
}

.object-fit-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.styleguide-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-16x5 {
  position: relative;
  overflow: hidden;
  padding-top: 32.5%;
}

.image-21x9 {
  position: relative;
  overflow: hidden;
  padding-top: 42.857%;
}

.image-16x9 {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.image-2x1 {
  position: relative;
  overflow: hidden;
  padding-top: 50%;
}

.image-4x3 {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}

.image-1x1 {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}

.image-1x2 {
  position: relative;
  overflow: hidden;
  padding-top: 200%;
}

.gc-icon-s {
  height: 2rem;
}

.gc-icon-m {
  height: 3rem;
}

.gc-icon-l {
  height: 4rem;
}

.styleguide-flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.gc-icon-1x1-s {
  width: 2rem;
  height: 2rem;
}

.gc-icon-1x1-m {
  width: 3rem;
  height: 3rem;
}

.gc-icon-1x1-l {
  width: 4rem;
  height: 4rem;
}

.styleguide-flex-horizontal-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.styguide-main-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.styleguide-top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-column-gap: 0.5rem;
}

.styleguide-dashed {
  padding: 1rem;
  border: 1px dashed #000;
  background-color: #fff;
}

.styleguide-flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-row-gap: 1.5rem;
}

.gc-container-m {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

.gc-container-s {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.gc-max-width-xxl {
  width: 100%;
  max-width: 80rem;
}

.gc-max-width-xl {
  width: 100%;
  max-width: 64rem;
}

.gc-max-width-l {
  width: 100%;
  max-width: 48rem;
}

.gc-max-width-m {
  width: 100%;
  max-width: 32rem;
}

.gc-max-width-s {
  width: 100%;
  max-width: 20rem;
}

.gc-max-width-xs {
  width: 100%;
  max-width: 16rem;
}

.gc-max-width-xxs {
  width: 100%;
  max-width: 12rem;
}

.styleguide-margin-wrapper {
  background-color: #e0e0e0;
}

.margin-top---auto {
  margin-top: auto;
}

.margin-top---xxl {
  margin-top: 5rem;
}

.margin-top---xl {
  margin-top: 4rem;
}

.margin-top---l {
  margin-top: 3rem;
}

.margin-top---m {
  margin-top: 2rem;
}

.margin-top---s {
  margin-top: 1rem;
}

.margin-top---xs {
  margin-top: 0.5rem;
}

.margin-top---xxs {
  margin-top: 0.25rem;
}

.margin-top---0 {
  margin-top: 0rem;
}

.margin-right---auto {
  margin-right: auto;
}

.margin-right---xxl {
  margin-right: 5rem;
}

.margin-right---xl {
  margin-right: 4rem;
}

.margin-right---l {
  margin-right: 3rem;
}

.margin-right---m {
  margin-right: 2rem;
}

.margin-right---s {
  margin-right: 1rem;
}

.margin-right---xs {
  margin-right: 0.5rem;
}

.margin-right---xxs {
  margin-right: 0.25rem;
}

.margin-right---0 {
  margin-right: 0rem;
}

.margin-bottom---auto {
  margin-bottom: auto;
}

.margin-bottom---xxl {
  margin-bottom: 5rem;
}

.margin-bottom---xl {
  margin-bottom: 4rem;
}

.margin-bottom---l {
  margin-bottom: 3rem;
}

.margin-bottom---m {
  margin-bottom: 2rem;
}

.margin-bottom---s {
  margin-bottom: 1rem;
}

.margin-bottom---xs {
  margin-bottom: 0.5rem;
}

.margin-bottom---xxs {
  margin-bottom: 0.25rem;
}

.margin-bottom---0 {
  margin-bottom: 0rem;
}

.margin-left---auto {
  margin-left: auto;
}

.margin-left---xxl {
  margin-left: 5rem;
}

.margin-left---xl {
  margin-left: 4rem;
}

.margin-left---l {
  margin-left: 3rem;
}

.margin-left---m {
  margin-left: 2rem;
}

.margin-left---s {
  margin-left: 1rem;
}

.margin-left---xs {
  margin-left: 0.5rem;
}

.margin-left---xxs {
  margin-left: 0.25rem;
}

.margin-left---0 {
  margin-left: 0rem;
}

.padding---xxl {
  padding: 5rem;
}

.padding---xl {
  padding: 4rem;
}

.padding---l {
  padding: 3rem;
}

.padding---m {
  padding: 2rem;
}

.padding---s {
  padding: 1rem;
}

.padding---xs {
  padding: 0.5rem;
}

.padding---xxs {
  padding: 0.25rem;
}

.padding---0 {
  padding: 0rem;
}

.padding-top---xxl {
  padding-top: 5rem;
}

.padding-top---xl {
  padding-top: 4rem;
}

.padding-top---l {
  padding-top: 3rem;
}

.padding-top---m {
  padding-top: 2rem;
}

.padding-top---s {
  padding-top: 1rem;
}

.padding-top---xs {
  padding-top: 0.5rem;
}

.padding-top---xxs {
  padding-top: 0.25rem;
}

.padding-top---0 {
  padding-top: 0rem;
}

.padding-right---xxl {
  padding-right: 5rem;
}

.padding-right---xl {
  padding-right: 4rem;
}

.padding-right---l {
  padding-right: 3rem;
}

.padding-right---m {
  padding-right: 2rem;
}

.padding-right---s {
  padding-right: 1rem;
}

.padding-right---xs {
  padding-right: 0.5rem;
}

.padding-right---xxs {
  padding-right: 0.25rem;
}

.padding-right---0 {
  padding-right: 0rem;
}

.padding-bottom---xxl {
  padding-bottom: 5rem;
}

.padding-bottom---xl {
  padding-bottom: 4rem;
}

.padding-bottom---l {
  padding-bottom: 3rem;
}

.padding-bottom---m {
  padding-bottom: 2rem;
}

.padding-bottom---s {
  padding-bottom: 1rem;
}

.padding-bottom---xs {
  padding-bottom: 0.5rem;
}

.padding-bottom---xxs {
  padding-bottom: 0.25rem;
}

.padding-bottom---0 {
  padding-bottom: 0rem;
}

.padding-left---xxl {
  padding-left: 5rem;
}

.padding-left---xl {
  padding-left: 4rem;
}

.padding-left---l {
  padding-left: 3rem;
}

.padding-left---m {
  padding-left: 2rem;
}

.padding-left---s {
  padding-left: 1rem;
}

.padding-left---xs {
  padding-left: 0.5rem;
}

.padding-left---xxs {
  padding-left: 0.25rem;
}

.padding-left---0 {
  padding-left: 0rem;
}

.gc-z---1 {
  position: relative;
  z-index: 1;
}

.gc-z---2 {
  position: relative;
  z-index: 2;
}

.gc-clean-space {
  margin: 0rem;
  padding: 0rem;
}

.gc-center-element {
  margin-right: auto;
  margin-left: auto;
}

.gc-overflow---hidden {
  overflow: hidden;
}

.gc-overflow---scroll {
  overflow: scroll;
}

.gc-overflow---auto {
  overflow: auto;
}

.gc-overflow---visible {
  overflow: visible;
}

.gc-hide {
  display: none;
}

.gc-show {
  display: block;
}

.gc-button {
  padding: 0.75rem 5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  background-color: #4fe9a4;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.gc-button:hover {
  background-color: rgba(79, 233, 164, 0.8);
}

.gc-button.cc-inverted {
  border-style: solid;
  border-width: 0.125rem;
  border-color: #1169fe;
  background-color: #fff;
  color: #1169fe;
}

.gc-button.cc-inverted:hover {
  border-color: #fff;
  background-color: #1169fe;
  color: #fff;
}

.gc-page-wrapper{
  position: absolute;
  z-index: 99;
  width: 100%;
}

.intro-page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.intro-page-main-section {
  background-image: linear-gradient(132deg, #fff0eb, #d2f2fa);
}

.landing-page-main-section {
  position: relative;
  overflow: hidden;
  background-color: #f1ecea;
}

.landing-page-main-wrapper {
  position: relative;
  min-height: 100vh;
}

.action-wrapper {
  position: absolute;
  left: 2.5rem;
  top: auto;
  right: auto;
  bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 0.75rem;
}

.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.sound-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.menu-popup-wrapper {
  position: absolute;
  left: 0%;
  top: 2rem;
  right: auto;
  bottom: 2rem;
  width: 28.125rem;
  padding-top: 1.25rem;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
  z-index: 99;
}

.tab-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 1rem 0.5rem;
  grid-column-gap: 0.25rem;
  border-bottom: 0.25rem solid rgba(79, 233, 164, 0);
  background-color: transparent;
  font-size: 0.875rem;
}

.tab-button.w--current {
  border-bottom-color: #4fe9a4;
  background-color: transparent;
  font-weight: 600;
}

.tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.tab-pane-wrapper {
  height: 100%;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.tab-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.tab-content-wrapper.cc-last-tab {
  border-bottom-style: none;
}

.tab-content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-info-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.tabs-content {
  height: 100%;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tab-content-grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.tab-collection-grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 2.5rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.tab-collection-wrapper {
  padding-top: 3rem;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4.6875rem;
  height: 4.6875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f4f2f2;
}

.collection-item.cc-just-collected {
  background-color: #4fe9a4;
}

.collection-item.cc-collected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbf4f1), to(#ecfbff));
  background-image: linear-gradient(180deg, #fbf4f1, #ecfbff);
}

.blending-darken {
  mix-blend-mode: darken;
}

.tab-about-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.ea-logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.gc-button-black {
  padding: 0.75rem 2rem;
  background-color: #000;
}

.social-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.75rem;
}

.shape-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.close-menu-wrapper {
  position: absolute;
  left: auto;
  top: 1rem;
  right: 1rem;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-popup-wrapper {
  position: absolute;
  left: auto;
  top: 2rem;
  right: 0%;
  bottom: 2rem;
  width: 28.125rem;
  padding-top: 1.25rem;
  border-radius: 0.75rem;
  background-color: #1169fe;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
  z-index: 99;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.congrats-inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.75rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(17, 105, 254, 0.5);
}

.nah-link {
  color: #fff;
  text-decoration: underline;
}

.congrats-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  height: 100%;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.mug-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.form-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  height: 100%;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.form-inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 2.75rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(17, 105, 254, 0.5);
}

.form-block {
  width: 100%;
  height: 100%;
}

.text-field {
  min-height: 45px;
  margin-bottom: 0.625rem;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 0.25rem;
  background-color: transparent;
  color: #fff;
  font-size: 0.875rem;
}

.text-field:focus {
  border-color: #4fe9a4;
}

.text-field::-webkit-input-placeholder {
  color: #fff;
}

.text-field:-ms-input-placeholder {
  color: #fff;
}

.text-field::-ms-input-placeholder {
  color: #fff;
}

.text-field::placeholder {
  color: #fff;
}

.text-field.cc-margin-bottom {
  margin-bottom: 1.5rem;
}

.input-fields-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  grid-column-gap: 0.625rem;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-field {
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  color: #fff;
  font-size: 0.875rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.form-block-wrapper {
  width: 100%;
  height: 100%;
}

.success-message {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.success-message-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.open-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.main-screen-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .gc-full-width-tablet {
    width: 100%;
    max-width: none;
  }

  .margin-top---xxl {
    margin-top: 4rem;
  }

  .margin-top---xl {
    margin-top: 3rem;
  }

  .margin-top---l {
    margin-top: 2.5rem;
  }

  .margin-top---m {
    margin-top: 1.5rem;
  }

  .margin-right---xxl {
    margin-right: 4rem;
  }

  .margin-right---xl {
    margin-right: 3rem;
  }

  .margin-right---l {
    margin-right: 2.5rem;
  }

  .margin-right---m {
    margin-right: 1.5rem;
  }

  .margin-bottom---xxl {
    margin-bottom: 4rem;
  }

  .margin-bottom---xl {
    margin-bottom: 3rem;
  }

  .margin-bottom---l {
    margin-bottom: 2.5rem;
  }

  .margin-bottom---m {
    margin-bottom: 1.5rem;
  }

  .margin-left---xxl {
    margin-left: 4rem;
  }

  .margin-left---xl {
    margin-left: 3rem;
  }

  .margin-left---l {
    margin-left: 2.5rem;
  }

  .margin-left---m {
    margin-left: 1.5rem;
  }

  .margin-top-tab---auto {
    margin-top: auto;
  }

  .margin-top-tab---xxl {
    margin-top: 5rem;
  }

  .margin-top-tab---xl {
    margin-top: 4rem;
  }

  .margin-top-tab---l {
    margin-top: 3rem;
  }

  .margin-top-tab---m {
    margin-top: 2rem;
  }

  .margin-top-tab---s {
    margin-top: 1rem;
  }

  .margin-top-tab--xs {
    margin-top: 0.5rem;
  }

  .margin-top-tab---xxs {
    margin-top: 0.25rem;
  }

  .margin-top-tab---0 {
    margin-top: 0rem;
  }

  .margin-right-tab---auto {
    margin-right: auto;
  }

  .margin-right-tab---xxl {
    margin-right: 5rem;
  }

  .margin-right-tab---xl {
    margin-right: 4rem;
  }

  .margin-right-tab---l {
    margin-right: 3rem;
  }

  .margin-right-tab---m {
    margin-right: 2rem;
  }

  .margin-right-tab---s {
    margin-right: 1rem;
  }

  .margin-right-tab---xs {
    margin-right: 0.5rem;
  }

  .margin-right-tab---xxs {
    margin-right: 0.25rem;
  }

  .margin-right-tab---0 {
    margin-right: 0rem;
  }

  .margin-bottom-tab---auto {
    margin-bottom: auto;
  }

  .margin-bottom-tab---xxl {
    margin-bottom: 5rem;
  }

  .margin-bottom-tab---xl {
    margin-bottom: 4rem;
  }

  .margin-bottom-tab---l {
    margin-bottom: 3rem;
  }

  .margin-bottom-tab---m {
    margin-bottom: 2rem;
  }

  .margin-bottom-tab---s {
    margin-bottom: 1rem;
  }

  .margin-bottom-tab---xs {
    margin-bottom: 0.5rem;
  }

  .margin-bottom-tab---xxs {
    margin-bottom: 0.25rem;
  }

  .margin-bottom-tab---0 {
    margin-bottom: 0rem;
  }

  .margin-left-tab---auto {
    margin-left: auto;
  }

  .margin-left-tab---xxl {
    margin-left: 5rem;
  }

  .margin-left-tab---xl {
    margin-left: 4rem;
  }

  .margin-left-tab---l {
    margin-left: 3rem;
  }

  .margin-left-tab---m {
    margin-left: 2rem;
  }

  .margin-left-tab---s {
    margin-left: 1rem;
  }

  .margin-left-tab---xs {
    margin-left: 0.5rem;
  }

  .margin-left-tab---xxs {
    margin-left: 0.25rem;
  }

  .margin-left-tab---0 {
    margin-left: 0rem;
  }

  .padding---xxl {
    padding: 4rem;
  }

  .padding---xl {
    padding: 3rem;
  }

  .padding---l {
    padding: 2.5rem;
  }

  .padding---m {
    padding: 1.5rem;
  }

  .padding-top---xxl {
    padding-top: 4rem;
  }

  .padding-top---xl {
    padding-top: 3rem;
  }

  .padding-top---l {
    padding-top: 2.5rem;
  }

  .padding-top---m {
    padding-top: 1.5rem;
  }

  .padding-right---xxl {
    padding-right: 4rem;
  }

  .padding-right---xl {
    padding-right: 3rem;
  }

  .padding-right---l {
    padding-right: 2.5rem;
  }

  .padding-right---m {
    padding-right: 1.5rem;
  }

  .padding-bottom---xxl {
    padding-bottom: 4rem;
  }

  .padding-bottom---xl {
    padding-bottom: 3rem;
  }

  .padding-bottom---l {
    padding-bottom: 2.5rem;
  }

  .padding-bottom---m {
    padding-bottom: 1.5rem;
  }

  .padding-left---xxl {
    padding-left: 4rem;
  }

  .padding-left---xl {
    padding-left: 3rem;
  }

  .padding-left---l {
    padding-left: 2.5rem;
  }

  .padding-left---m {
    padding-left: 1.5rem;
  }

  .padding-tab---xxl {
    padding: 5rem;
  }

  .padding-tab---xl {
    padding: 4rem;
  }

  .padding-tab---l {
    padding: 3rem;
  }

  .padding-tab---m {
    padding: 2rem;
  }

  .padding-tab---s {
    padding: 1rem;
  }

  .padding-tab---xs {
    padding: 0.5rem;
  }

  .padding-tab---xxs {
    padding: 0.25rem;
  }

  .padding-tab---0 {
    padding: 0rem;
  }

  .padding-top-tab---xxl {
    padding-top: 5rem;
  }

  .padding-top-tab---xl {
    padding-top: 4rem;
  }

  .padding-top-tab---l {
    padding-top: 3rem;
  }

  .padding-top-tab---m {
    padding-top: 2rem;
  }

  .padding-top-tab---s {
    padding-top: 1rem;
  }

  .padding-top-tab---xs {
    padding-top: 0.5rem;
  }

  .padding-top-tab---xxs {
    padding-top: 0.25rem;
  }

  .padding-top-tab---0 {
    padding-top: 0rem;
  }

  .padding-right-tab---xxl {
    padding-right: 5rem;
  }

  .padding-right-tab---xl {
    padding-right: 4rem;
  }

  .padding-right-tab---l {
    padding-right: 3rem;
  }

  .padding-right-tab---m {
    padding-right: 2rem;
  }

  .padding-right-tab---s {
    padding-right: 1rem;
  }

  .padding-right-tab---xs {
    padding-right: 0.5rem;
  }

  .padding-right-tab---xxs {
    padding-right: 0.25rem;
  }

  .padding-right-tab---0 {
    padding-right: 0rem;
  }

  .padding-bottom-tab---xxl {
    padding-bottom: 5rem;
  }

  .padding-bottom-tab---xl {
    padding-bottom: 4rem;
  }

  .padding-bottom-tab---l {
    padding-bottom: 3rem;
  }

  .padding-bottom-tab---m {
    padding-bottom: 2rem;
  }

  .padding-bottom-tab---s {
    padding-bottom: 1rem;
  }

  .padding-bottom-tab---xs {
    padding-bottom: 0.5rem;
  }

  .padding-bottom-tab---xxs {
    padding-bottom: 0.25rem;
  }

  .padding-bottom-tab---0 {
    padding-bottom: 0rem;
  }

  .padding-left-tab---xxl {
    padding-left: 5rem;
  }

  .padding-left-tab---xl {
    padding-left: 4rem;
  }

  .padding-left-tab---l {
    padding-left: 3rem;
  }

  .padding-left-tab---m {
    padding-left: 2rem;
  }

  .padding-left-tab---s {
    padding-left: 1rem;
  }

  .padding-left-tab---xs {
    padding-left: 0.5rem;
  }

  .padding-left-tab---xxs {
    padding-left: 0.25rem;
  }

  .padding-left-tab---0 {
    padding-left: 0rem;
  }

  .gc-hide-tablet {
    display: none;
  }

  .gc-show-tablet {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .gc-page-padding {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .gc-heading-xxl {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .gc-text-xl {
    font-size: 1.25rem;
  }

  .styleguide-color-sample {
    padding: 2.5rem 2rem;
  }

  .heading {
    font-size: 1rem;
  }

  .styleguide-dashed {
    padding: 2.5rem 2rem;
  }

  .gc-full-width-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-top---xxl {
    margin-top: 3rem;
  }

  .margin-top---xl {
    margin-top: 2rem;
  }

  .margin-top---l {
    margin-top: 1.5rem;
  }

  .margin-top---m {
    margin-top: 1.25rem;
  }

  .margin-right---xxl {
    margin-right: 3rem;
  }

  .margin-right---xl {
    margin-right: 2rem;
  }

  .margin-right---l {
    margin-right: 1.5rem;
  }

  .margin-right---m {
    margin-right: 1.25rem;
  }

  .margin-bottom---xxl {
    margin-bottom: 3rem;
  }

  .margin-bottom---xl {
    margin-bottom: 2rem;
  }

  .margin-bottom---l {
    margin-bottom: 1.5rem;
  }

  .margin-bottom---m {
    margin-bottom: 1.25rem;
  }

  .margin-left---xxl {
    margin-left: 3rem;
  }

  .margin-left---xl {
    margin-left: 2rem;
  }

  .margin-left---l {
    margin-left: 1.5rem;
  }

  .margin-left---m {
    margin-left: 1.25rem;
  }

  .margin-top-tab---xxl {
    margin-top: 4rem;
  }

  .margin-top-tab---xl {
    margin-top: 3rem;
  }

  .margin-top-tab---l {
    margin-top: 2.5rem;
  }

  .margin-top-tab---m {
    margin-top: 1.5rem;
  }

  .margin-right-tab---xxl {
    margin-right: 4rem;
  }

  .margin-right-tab---xl {
    margin-right: 3rem;
  }

  .margin-right-tab---l {
    margin-right: 2.5rem;
  }

  .margin-right-tab---m {
    margin-right: 1.5rem;
  }

  .margin-bottom-tab---xxl {
    margin-bottom: 4rem;
  }

  .margin-bottom-tab---xl {
    margin-bottom: 3rem;
  }

  .margin-bottom-tab---l {
    margin-bottom: 2.5rem;
  }

  .margin-bottom-tab---m {
    margin-bottom: 1.5rem;
  }

  .margin-left-tab---xxl {
    margin-left: 4rem;
  }

  .margin-left-tab---xl {
    margin-left: 3rem;
  }

  .margin-left-tab---l {
    margin-left: 2.5rem;
  }

  .margin-left-tab---m {
    margin-left: 1.5rem;
  }

  .margin-top-mob---auto {
    margin-top: auto;
  }

  .margin-top-mob---xxl {
    margin-top: 5rem;
  }

  .margin-top-mob---xl {
    margin-top: 4rem;
  }

  .margin-top-mob---l {
    margin-top: 3rem;
  }

  .margin-top-mob---m {
    margin-top: 2rem;
  }

  .margin-top-mob---s {
    margin-top: 1rem;
  }

  .margin-top-mob---xs {
    margin-top: 0.5rem;
  }

  .margin-top-mob---xxs {
    margin-top: 0.25rem;
  }

  .margin-top-mob---0 {
    margin-top: 0rem;
  }

  .margin-right-mob---auto {
    margin-right: auto;
  }

  .margin-right-mob---xxl {
    margin-right: 5rem;
  }

  .margin-right-mob---xl {
    margin-right: 4rem;
  }

  .margin-right-mob---l {
    margin-right: 3rem;
  }

  .margin-right-mob---m {
    margin-right: 2rem;
  }

  .margin-right-mob---s {
    margin-right: 1rem;
  }

  .margin-right-mob---xs {
    margin-right: 0.5rem;
  }

  .margin-right-mob---xxs {
    margin-right: 0.25rem;
  }

  .margin-right-mob---0 {
    margin-right: 0rem;
  }

  .margin-bottom-mob---auto {
    margin-bottom: auto;
  }

  .margin-bottom-mob---xxl {
    margin-bottom: 5rem;
  }

  .margin-bottom-mob---xl {
    margin-bottom: 4rem;
  }

  .margin-bottom-mob---l {
    margin-bottom: 3rem;
  }

  .margin-bottom-mob---m {
    margin-bottom: 2rem;
  }

  .margin-bottom-mob---s {
    margin-bottom: 1rem;
  }

  .margin-bottom-mob---xs {
    margin-bottom: 0.5rem;
  }

  .margin-bottom-mob---xxs {
    margin-bottom: 0.25rem;
  }

  .margin-bottom-mob---0 {
    margin-bottom: 0rem;
  }

  .margin-left-mob---auto {
    margin-left: auto;
  }

  .margin-left-mob---xxl {
    margin-left: 5rem;
  }

  .margin-left-mob---xl {
    margin-left: 4rem;
  }

  .margin-left-mob---l {
    margin-left: 3rem;
  }

  .margin-left-mob---m {
    margin-left: 2rem;
  }

  .margin-left-mob---s {
    margin-left: 1rem;
  }

  .margin-left-mob---xs {
    margin-left: 0.5rem;
  }

  .margin-left-mob---xxs {
    margin-left: 0.25rem;
  }

  .margin-left-mob---0 {
    margin-left: 0rem;
  }

  .padding---xxl {
    padding: 3rem;
  }

  .padding---xl {
    padding: 2rem;
  }

  .padding---l {
    padding: 1.5rem;
  }

  .padding---m {
    padding: 1.25rem;
  }

  .padding-top---xxl {
    padding-top: 3rem;
  }

  .padding-top---xl {
    padding-top: 2rem;
  }

  .padding-top---l {
    padding-top: 1.5rem;
  }

  .padding-top---m {
    padding-top: 1.25rem;
  }

  .padding-right---xxl {
    padding-right: 3rem;
  }

  .padding-right---xl {
    padding-right: 2rem;
  }

  .padding-right---l {
    padding-right: 1.5rem;
  }

  .padding-right---m {
    padding-right: 1.25rem;
  }

  .padding-bottom---xxl {
    padding-bottom: 3rem;
  }

  .padding-bottom---xl {
    padding-bottom: 2rem;
  }

  .padding-bottom---l {
    padding-bottom: 1.5rem;
  }

  .padding-bottom---m {
    padding-bottom: 1.25rem;
  }

  .padding-left---xxl {
    padding-left: 3rem;
  }

  .padding-left---xl {
    padding-left: 2rem;
  }

  .padding-left---l {
    padding-left: 1.5rem;
  }

  .padding-left---m {
    padding-left: 1.25rem;
  }

  .padding-tab---xxl {
    padding: 4rem;
  }

  .padding-tab---xl {
    padding: 3rem;
  }

  .padding-tab---l {
    padding: 2rem;
  }

  .padding-tab---m {
    padding: 1.5rem;
  }

  .padding-top-tab---xxl {
    padding-top: 4rem;
  }

  .padding-top-tab---xl {
    padding-top: 3rem;
  }

  .padding-top-tab---l {
    padding-top: 2.5rem;
  }

  .padding-top-tab---m {
    padding-top: 1.5rem;
  }

  .padding-right-tab---xxl {
    padding-right: 4rem;
  }

  .padding-right-tab---xl {
    padding-right: 3rem;
  }

  .padding-right-tab---l {
    padding-right: 2.5rem;
  }

  .padding-right-tab---m {
    padding-right: 1.5rem;
  }

  .padding-bottom-tab---xxl {
    padding-bottom: 4rem;
  }

  .padding-bottom-tab---xl {
    padding-bottom: 3rem;
  }

  .padding-bottom-tab---l {
    padding-bottom: 2.5rem;
  }

  .padding-bottom-tab---m {
    padding-bottom: 1.5rem;
  }

  .padding-left-tab---xxl {
    padding-left: 4rem;
  }

  .padding-left-tab---xl {
    padding-left: 3rem;
  }

  .padding-left-tab---l {
    padding-left: 2.5rem;
  }

  .padding-left-tab---m {
    padding-left: 1.5rem;
  }

  .padding-mob---xxl {
    padding: 5rem;
  }

  .padding-mob---xl {
    padding: 4rem;
  }

  .padding-mob---l {
    padding: 3rem;
  }

  .padding-mob---m {
    padding: 2rem;
  }

  .padding-mob---s {
    padding: 1rem;
  }

  .padding-mob---xs {
    padding: 0.5rem;
  }

  .padding-mob---xxs {
    padding: 0.25rem;
  }

  .padding-mob---0 {
    padding: 0rem;
  }

  .padding-top-mob---xxl {
    padding-top: 5rem;
  }

  .padding-top-mob---xl {
    padding-top: 4rem;
  }

  .padding-top-mob---l {
    padding-top: 3rem;
  }

  .padding-top-mob---m {
    padding-top: 2rem;
  }

  .padding-top-mob---s {
    padding-top: 1rem;
  }

  .padding-top-mob---xs {
    padding-top: 0.5rem;
  }

  .padding-top-mob---xxs {
    padding-top: 0.25rem;
  }

  .padding-top-mob---0 {
    padding-top: 0rem;
  }

  .padding-right-mob---xxl {
    padding-right: 5rem;
  }

  .padding-right-mob---xl {
    padding-right: 4rem;
  }

  .padding-right-mob---l {
    padding-right: 3rem;
  }

  .padding-right-mob---m {
    padding-right: 2rem;
  }

  .padding-right-mob---s {
    padding-right: 1rem;
  }

  .padding-right-mob---xs {
    padding-right: 0.5rem;
  }

  .padding-right-mob---xxs {
    padding-right: 0.25rem;
  }

  .padding-right-mob---0 {
    padding-right: 0rem;
  }

  .padding-bottom-mob---xxl {
    padding-bottom: 5rem;
  }

  .padding-bottom-mob---xl {
    padding-bottom: 4rem;
  }

  .padding-bottom-mob---l {
    padding-bottom: 3rem;
  }

  .padding-bottom-mob---m {
    padding-bottom: 2rem;
  }

  .padding-bottom-mob---s {
    padding-bottom: 1rem;
  }

  .padding-bottom-mob---xs {
    padding-bottom: 0.5rem;
  }

  .padding-bottom-mob---xxs {
    padding-bottom: 0.25rem;
  }

  .padding-bottom-mob---0 {
    padding-bottom: 0rem;
  }

  .padding-left-mob---xxl {
    padding-left: 5rem;
  }

  .padding-left-mob---xl {
    padding-left: 4rem;
  }

  .padding-left-mob---l {
    padding-left: 3rem;
  }

  .padding-left-mob---m {
    padding-left: 2rem;
  }

  .padding-left-mob---s {
    padding-left: 1rem;
  }

  .padding-left-mob---xs {
    padding-left: 0.5rem;
  }

  .padding-left-mob---xxs {
    padding-left: 0.25rem;
  }

  .padding-left-mob---0 {
    padding-left: 0rem;
  }

  .gc-hide-mobile-landscape {
    display: none;
  }

  .gc-show-mobile-landscape {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .styleguide-content-grid-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .styleguide-flex-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .styguide-main-heading {
    font-size: 2rem;
  }

  .gc-full-width-mobile {
    width: 100%;
    max-width: none;
  }

  .gc-hide-mobile-portrait {
    display: none;
  }

  .menu-popup-wrapper {
    width: 100%;
  }

  .tab-button {
    padding-left: 0.75rem;
  }

  .tab-pane-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .tab-collection-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form-popup-wrapper {
    width: 100%;
  }

  .congrats-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .form-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#w-node-_3ad74d17-46d4-9114-ce6a-1467a37ae9e3-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_873ebe79-7e5b-8939-c94e-63bb88737a07-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-da9b9927-d874-e65d-c6ec-9cf7d3880668-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c96ae990-93ca-8de3-810f-659d9fe3f2f9-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4a059afb-2870-f7d7-79c1-9fba70207790-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_28ba9f62-c754-a2e9-4821-c3706c4e997e-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8dba6744-c0c7-1793-c40e-761c0a510227-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ae402cfe-7f1f-404f-ee69-072d4e48aedc-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7e08fb47-76f0-8304-c961-1b8558380a06-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8cda22e1-3ce3-ab3d-e52f-06aa8a907425-992107f9 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-Light.otf') format('opentype'), url('../fonts/TipoType---Rustica-SemiLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-LightItalic.otf') format('opentype'), url('../fonts/TipoType---Rustica-SemiLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rustica';
  src: url('../fonts/TipoType---Rustica-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}