
body{
  overflow: hidden;
}

canvas{
  width: 100%;
  
}

.gc-page-wrapper{
  position: absolute;
  z-index: 99;
  width: 100%;
}

.intro-wrapper {
  display: none !important;
}

.intro-page-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.intro-page-main-section {
  background-image: linear-gradient(132deg, #fff0eb, #d2f2fa);
}

.landing-page-main-section {
  position: relative;
  overflow: hidden;
  background-color: #f1ecea;
}

.landing-page-main-wrapper {
  position: relative;
  min-height: 100vh;
}

.action-wrapper {
  position: absolute;
  left: 2.5rem;
  top: auto;
  right: auto;
  bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 0.75rem;
  display: none !important;
}

/* .menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
} */

.sound-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.menu-popup-wrapper {
  position: absolute;
  left: 0%;
  top: 2rem;
  right: auto;
  bottom: 2rem;
  width: 28.125rem;
  padding-top: 1.25rem;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
  z-index: 99;
  margin-left: 2.5rem;
  display:none !important;
}

.tab-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem 1rem 0.5rem;
  grid-column-gap: 0.25rem;
  border-bottom: 0.25rem solid rgba(79, 233, 164, 0);
  background-color: transparent;
  font-size: 0.875rem;
}

.tab-button.w--current {
  border-bottom-color: #4fe9a4;
  background-color: transparent;
  font-weight: 600;
}

.tab-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.tab-pane-wrapper {
  height: 100%;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.tab-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.tab-content-wrapper.cc-last-tab {
  border-bottom-style: none;
}

.tab-content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-info-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.tabs-content {
  height: 100%;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-bottom: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tab-content-grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.tab-collection-grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 2.5rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.tab-collection-wrapper {
  padding-top: 3rem;
}

.collection-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 4.6875rem;
  height: 4.6875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  background-color: #f4f2f2;
}

.collection-item.cc-just-collected {
  background-color: #4fe9a4;
}

.collection-item.cc-collected {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbf4f1), to(#ecfbff));
  background-image: linear-gradient(180deg, #fbf4f1, #ecfbff);
}

.blending-darken {
  mix-blend-mode: darken;
}

.tab-about-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.ea-logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.gc-button-black {
  padding: 0.75rem 2rem;
  background-color: #000;
}

.social-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.75rem;
}

.shape-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.close-menu-wrapper {
  position: absolute;
  left: auto;
  top: 1rem;
  right: 1rem;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-popup-wrapper {
  position: absolute;
  left: auto;
  top: 2rem;
  right: 0%;
  bottom: 2rem;
  width: 28.125rem;
  padding-top: 1.25rem;
  border-radius: 0.75rem;
  background-color: #1169fe;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
  z-index: 99;
  margin-right: 2.5rem;
  display: none !important;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.congrats-inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.75rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(17, 105, 254, 0.5);
}

.nah-link {
  color: #fff;
  text-decoration: underline;
}

.congrats-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  height: 100%;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.mug-wrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.form-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  height: 100%;
  padding-right: 2.75rem;
  padding-left: 2.75rem;
}

.form-inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 2.75rem;
  padding-bottom: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(17, 105, 254, 0.5);
}

.form-block {
  width: 100%;
  height: 100%;
}

.text-field {
  min-height: 45px;
  margin-bottom: 0.625rem;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 0.25rem;
  background-color: transparent;
  color: #fff;
  font-size: 0.875rem;
}

.text-field:focus {
  border-color: #4fe9a4;
}

.text-field::-webkit-input-placeholder {
  color: #fff;
}

.text-field:-ms-input-placeholder {
  color: #fff;
}

.text-field::-ms-input-placeholder {
  color: #fff;
}

.text-field::placeholder {
  color: #fff;
}

.text-field.cc-margin-bottom {
  margin-bottom: 1.5rem;
}

.input-fields-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  grid-column-gap: 0.625rem;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-field {
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
  color: #fff;
  font-size: 0.875rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.form-block-wrapper {
  width: 100%;
  height: 100%;
}

.success-message {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.success-message-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.open-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}

.main-screen-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

